.contact{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.email{
    align-items: center;
    display: flex;
    gap: 10px;
    font-weight: 900;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .main{
width: 100%;
height: auto;
    }
    .contact{
        width: 100%;
        position: relative;
    }
    .email {
        width: 80%;
        margin-left: 13%;
    }

}