.contact{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.email{
    width:100%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    font-weight: 900;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .contact{
        width: 100%;
        position: relative;
        justify-content: center;
    }
    .email {
        justify-content: center;
        width: 100%;
    }

}